$img: '../images/';

:root {
  --brand-white: #ffffff;
  --brand-red: #f54932;
  --brand-gray: #d0d0d0;
  --brand-blue: #3057a2;
  --brand-dark-50: #313131;
  --brand-dark-500: #595653;
  --brand-dark-400: #1f1f1f;
  --brand-dark-300: #161515;
  --brand-dark-200: #0c0c0c;
  --brand-dark-100: #010000;
  --brand-dark: #000000;

  --brand-primary: var(--brand-red);
  --brand-secondary: var(--brand-blue);

  --bg-color: var(--brand-white);
  --text-color: var(--brand-dark-100);

  --transition-default: all 0.25s ease-in-out;
  --font-primary:
    'Golos Text', 'Segoe UI', system-ui, -apple-system, sans-serif;
  --font-heading:
    'Merriweather', 'Golos Text', 'Segoe UI', system-ui, -apple-system,
    sans-serif;

  --max-width: 1254px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-primary);
  line-height: 1.2;
  font-size: 16px;
}

h2 {
  font-family: var(--font-heading);
  font-size: 54px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 400;
}

h3 {
  font-family: var(--font-heading);
  font-size: 36px;
  line-height: 1.35;
  text-transform: uppercase;
  font-weight: 400;

  mark {
    background-color: transparent;
    color: var(--brand-red);
  }
}

a {
  text-decoration: none;
  color: var(--brand-blue);
}

img {
  display: block;
  max-width: 100%;
}

del {
  text-decoration-color: var(--brand-red);
  color: inherit;
}

ins {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin: 0;
}

.overhidden {
  overflow: hidden;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 16px;
}

.header {
  background: url($img + 'baner1-2x.png') no-repeat center center;
  background-size: cover;
  height: 700px;
  padding-top: 26px;

  &__title {
    max-width: 650px;
    margin-top: 54px;
    font-size: 60px;
    letter-spacing: 1.5px;
    line-height: 1.15;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--brand-dark-50);
    margin-bottom: 16px;
  }

  &__s2 {
    padding-left: 91px;
    line-height: 1;
  }

  &__s3 {
    padding-left: 36px;
    line-height: 1.2;
  }

  &__subtitle {
    max-width: 545px;
    margin-top: 1.2em;
    font-size: 18px;
    line-height: 1.3;
    color: var(--brand-dark-500);
    font-weight: 400;
    text-align: center;
  }

  &__nav {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;

    .btn {
      max-width: 262px;
      width: 100%;
    }
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 14px 20px;
  font-size: 16px;
  font-family: var(--font-primary);
  font-weight: 400;
  background-color: var(--brand-dark-400);
  color: var(--brand-white);
  text-decoration: none;
  border-radius: 40px;
  transition: var(--transition-default);
  text-align: center;
  border: 2px solid var(--brand-dark-400);

  &--outline {
    background-color: transparent;
    color: var(--brand-dark-400);
  }

  &--blue {
    padding: 8px 12px 7px 12px;
    font-size: 16px;
    line-height: 1;
    background-color: transparent;
    border-color: var(--brand-blue);
    color: var(--brand-blue);
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  background: var(--brand-red);
  color: var(--brand-white);
  font-size: 22px;
  line-height: 1.1;
  padding-top: 18px;
  padding-bottom: 18px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    list-style-type: disc;
    animation: slide 40s linear infinite;
    text-transform: uppercase;
    font-family: var(--font-heading);
  }
}

@keyframes slide {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.section1 {
  display: flex;
  gap: 16px;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 20px;

  &__img {
    overflow: hidden;
    border-radius: 50%;
    max-width: 394px;
    width: 100%;
    height: 250px;
    flex-grow: 2;

    img {
      max-width: 100%;
      object-fit: cover;
    }
  }
}

.section2 {
  display: flex;
  gap: 43px;
  align-items: start;
  padding-top: 20px;
  font-size: 20px;
  padding-bottom: 20px;

  &__img {
    min-width: 474px;

    img {
      margin-left: -16px;
    }
  }

  &__desc {
    padding-top: 26px;
  }
}

.desc {
  margin-top: 47px;
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 1;
  color: var(--brand-dark-50);

  &__line {
    display: flex;
    gap: 16px;
    padding: 16px 0;
    border-bottom: 2px solid var(--brand-gray);
  }

  dt {
    border-right: 2px solid var(--brand-gray);
    width: 100%;
    max-width: 307px;
    height: 100%;
  }

  dd {
    font-weight: bold;
    line-height: 1;
    margin: 0;
  }
}

.section-title {
  text-transform: uppercase;
  font-weight: 400;

  small {
    display: inline-block;
    padding-left: 12px;
    text-transform: none;
    font-size: 20px;
    line-height: 1.2;
    color: var(--brand-blue);
    font-family: var(--font-primary);
  }
}

.section3 {
  padding-top: 178px;
  padding-bottom: 20px;
}

.etaps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style: none;
  counter-reset: step;
  margin: 0;
  padding: 54px 0 0 0;

  li {
    background-color: #f4e0cc;
    background-image: url($img + 'etaps-bg-pattern.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 19px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    font-family: var(--font-primary);
    font-size: 20px;
    line-height: 1.2;

    &::before {
      content: counter(step);
      counter-increment: step;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background: var(--brand-white);
      width: 36px;
      height: 36px;
      border-radius: 50%;
      flex-shrink: 0;
      font-weight: bold;
      font-size: 20px;
      font-family: var(--font-primary);
    }

    &:nth-child(3) {
      grid-row: span 2;
      height: 244px;
    }

    &:nth-child(7) {
      position: relative;
      grid-column: span 2;
      padding-right: 325px;

      &::after {
        content: '';
        display: block;
        position: absolute;
        right: -34px;
        top: -86px;
        width: 355px;
        height: 202px;
        background: url($img + 'etaps-planer.png') no-repeat center center;
        background-size: 100%;
      }
    }
  }
}

.section-carousel {
  position: relative;
  margin-top: 183px;
  margin-bottom: 140px;
}

.carousel {
  width: 100%;
  overflow: hidden;
  margin-top: 60px;

  &__container {
    min-width: 100%;
  }

  &__track {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
    list-style: none;
  }

  &__slide {
    flex: 0 0 calc(33.333% - 16px);
    scroll-snap-align: start;
  }

  &__nav {
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}

.slide {
  &__img {
    overflow: hidden;
    height: 320px;
    width: 320px;
    margin: auto;
    border-radius: 100%;
    object-fit: cover;

    &[src=''] {
      font-size: 0;
      background: url($img + 'placeholder-img-2x.png') no-repeat center center;
      background-size: 100%;
    }
  }

  &__content {
    padding-top: 28px;
    text-align: center;

    font-family: var(--font-primary);

    .btn {
      margin-top: 20px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
    text-transform: none;
    color: var(--brand-dark-50);
    margin-bottom: 0;
  }

  &__desc {
    margin-top: 2px;
    margin-bottom: 0;
    font-size: 20px;
    opacity: 0.6;
    color: var(--brand-dark-50);
  }
}

.nav {
  &__btn {
    background-color: var(--brand-dark-50);
    background-image: url('../images/arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
    border: 0;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    cursor: pointer;
    color: white;
    transition: all 0.2s ease;

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }

    &--next {
      transform: rotate(180deg);
    }
  }

  &__counter {
    font-size: 16px;
    font-weight: 400;
  }
}

.carousel__slide:hover .slide__image {
  transform: scale(1.05);
}

@media (max-width: 900px) {
  .carousel__slide {
    flex: 0 0 calc(50% - 12px);
  }

  .slide__image-wrapper {
    height: 190px;
  }

  .carousel__track {
    gap: 20px;
  }
}

@media (max-width: 640px) {
  .carousel__slide {
    flex: 0 0 calc(100% - 0px);
  }

  .slide__title {
    font-size: 1.2rem;
  }

  .nav__btn {
    width: 42px;
    height: 42px;
    font-size: 1.2rem;
  }

  .carousel__track {
    gap: 16px;
    padding: 0 16px;
  }

  .carousel__nav {
    padding: 14px 20px 20px;
    gap: 20px;
  }
}

.footer {
  background-color: #e9ded4;

  &__content {
    padding: 40px 0 74px 0;
    margin: 0;
    font-size: 16px;
    color: var(--brand-dark-50);
  }
}
