<section class="header">
  <div class="container">
    <a href="/" class="logo">
      <img src="./images/logo.svg" alt="Клуб четырех коней">
    </a>
    <h1 class="header__title">
      <div class="header__s1">Превратите уездный город</div>

      <div class="header__s2">
        в столицу
      </div>
      <div class="header__s3">
        земного шара
      </div>
    </h1>
    <p class="header__subtitle">
      Оплатите взнос на телеграммы для организации
      <br>
      Международного васюкинского турнира по шахматам
    </p>
    <nav class="header__nav">
      <a href="/" class="btn">
        Поддержать <br> шахматную мысль
      </a>
      <a href="/" class="btn btn--outline">
        Подробнее <br> о турнире
      </a>
    </nav>
  </div>

</section>
<div class="marquee">
  <ul class="marquee__inner">
    <li class="marquee__item">
      Дело помощи утопающим — дело рук самих утопающих!
    </li>
    <li class="marquee__item">
      Шахматы двигают вперед не только культуру, но и экономику!
    </li>
    <li class="marquee__item">
      Лед тронулся, господа присяжные заседатели!
    </li>
  </ul>
</div>