<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <title>Starter</title>
  @@include("./template/head.html")
</head>

<body>
  @@include("./template/header.html")
  <div class="wrapper">
    <section>
      <div class="container">
        <div class="section1">
          <h3>
            Чтобы поддержать Международный васюкинский турнир посетите лекцию на тему:
            <mark>«Плодотворная дебютная идея»</mark>
          </h3>
          <div class="section1__img">
            <img src="images/section1_img_2x.png" alt="Международный васюкинский турнир">
          </div>
        </div>
      </div>
    </section>

    <section class="overhidden">
      <div class="container">
        <div class="section2">
          <div class="section2__img">
            <img src="images/game-session-2x.png" alt="Международный васюкинский турнир">
          </div>
          <div class="section2__desc">
            <h3>
              и Сеанс <mark>одновременной игры в шахматы на 160 досках</mark> гроссмейстера О. Бендера
            </h3>
            <dl class="desc">
              <div class="desc__line">
                <dt>
                  Место проведения:
                </dt>
                <dd>
                  Клуб «Картонажник»
                </dd>
              </div>
              <div class="desc__line">

                <dt>
                  Дата и время мероприятия:
                </dt>
                <dd>
                  22 июня 1927 г. в 18:00
                </dd>
              </div>
              <div class="desc__line">
                <dt>
                  Стоимость входных билетов:
                </dt>
                <dd>
                  20 коп.
                </dd>
              </div>
              <div class="desc__line">
                <dt>
                  Плата за игру:
                </dt>
                <dd>
                  50 коп.
                </dd>
              </div>
              <div class="desc__line">
                <dt>Взнос на телеграммы:</dt>
                <dd>
                  <del>100 руб.</del>
                  <ins>21 руб. 16 коп.</ins>
                </dd>
              </div>
            </dl>
            <a href="/">По всем вопросам обращаться в администрацию к К. Михельсону</a>
          </div>
        </div>
      </div>
    </section>

    <section class="section3">
      <div class="container">
        <div class="">
          <h2 class="section-title">
            Этапы преображения <br> Васюков <small>Будущие источники <br> обогащения васюкинцев</small>
          </h2>
          <ul class="etaps">
            <li>
              Строительство железнодорожной магистрали Москва-Васюки
            </li>
            <li>
              Открытие фешенебельной гостиницы «Проходная пешка» и других небоскрёбов
            </li>
            <li>
              Поднятие сельского хозяйства в радиусе на тысячу километров: производство овощей, фруктов, икры,
              шоколадных конфет
            </li>
            <li>
              Строительство дворца для турнира
            </li>
            <li>
              Размещение гаражей для гостевого автотранспорта
            </li>
            <li>
              Постройка сверхмощной радиостанции для передачи всему миру сенсационных результатов
            </li>
            <li>
              Создание аэропорта «Большие Васюки» с регулярным отправлением почтовых самолётов и дирижаблей во все концы
              света, включая Лос-Анжелос и Мельбурн
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="section-carousel">
          <h2>Участники турнира</h2>
          <div class="carousel">
            <div class="carousel__container" id="carouselContainer">
              <ul class="carousel__track" id="carouselTrack">
                <li class="carousel__slide">
                  <div class="slide__img-wrapper">
                    <img class="slide__img" src="" alt="Хозе-Рауль Капабланка">
                  </div>
                  <div class="slide__content">
                    <h3 class="slide__title">Хозе-Рауль Капабланка</h3>
                    <p class="slide__desc">Чемпион мира по шахматам</p>
                    <a href="/" class="btn btn--blue">Подробнее</a>
                  </div>
                </li>
                <li class="carousel__slide">
                  <div class="slide__img-wrapper">
                    <img class="slide__img" src="" alt="Эммануил Ласкер">
                  </div>
                  <div class="slide__content">
                    <h3 class="slide__title">Эммануил Ласкер</h3>
                    <p class="slide__desc">Чемпион мира по шахматам</p>
                    <a href="/" class="btn btn--blue">Подробнее</a>
                  </div>
                </li>
                <li class="carousel__slide">
                  <div class="slide__img-wrapper">
                    <img class="slide__img" src="" alt="Александр Алехин">
                  </div>
                  <div class="slide__content">
                    <h3 class="slide__title">Александр Алехин</h3>
                    <p class="slide__desc">Чемпион мира по шахматам</p>
                    <a href="/" class="btn btn--blue">Подробнее</a>
                  </div>
                </li>
                <li class="carousel__slide">
                  <div class="slide__img-wrapper">
                    <img class="slide__img" src="" alt="Арон Нимцович">
                  </div>
                  <div class="slide__content">
                    <h3 class="slide__title">Арон Нимцович</h3>
                    <p class="slide__desc">Чемпион мира по шахматам</p>
                    <a href="/" class="btn btn--blue">Подробнее</a>
                  </div>
                </li>
                <li class="carousel__slide">
                  <div class="slide__img-wrapper">
                    <img class="slide__img" src="" alt="Рихард Рети">
                  </div>
                  <div class="slide__content">
                    <h3 class="slide__title">Рихард Рети</h3>
                    <p class="slide__desc">Чемпион мира по шахматам</p>
                    <a href="/" class="btn btn--blue">Подробнее</a>
                  </div>
                </li>
                <li class="carousel__slide">
                  <div class="slide__img-wrapper">
                    <img class="slide__img" src="" alt="Остап Бендер">
                  </div>
                  <div class="slide__content">
                    <h3 class="slide__title">Остап Бендер</h3>
                    <p class="slide__desc">Гроссмейстер</p>
                    <a href="/" class="btn btn--blue">Подробнее</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <nav class="carousel__nav">
            <button class="nav__btn nav__btn--prev" id="prevBtn" aria-label="Назад"></button>
            <div class="nav__counter">
              <span id="currentSlide">3</span> / <span id="totalSlides">6</span>
            </div>
            <button class="nav__btn nav__btn--next" id="nextBtn" aria-label="Вперед"></button>
          </nav>
        </div>
      </div>
    </section>
  </div>

  @@include("./template/footer.html") @@include("./template/scripts.html")
</body>

</html>